  <script data-cfasync="false" src="{{ url_for('static', filename='cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='assets/web/assets/jquery/jquery.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='assets/popper/popper.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='assets/tether/tether.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='assets/dropdown/js/script.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='assets/smoothscroll/smooth-scroll.js') }}" defer></script>
  <script src="{{ url_for('static', filename='assets/formstyler/jquery.formstyler.js') }}" defer></script>
  <script src="{{ url_for('static', filename='assets/formstyler/jquery.formstyler.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='assets/viewportchecker/jquery.viewportchecker.js') }}" defer></script>
  <script src="{{ url_for('static', filename='assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js') }}" defer></script>
  <script src="{{ url_for('static', filename='assets/mbr-testimonials-slider/mbr-testimonials-slider.js') }}" defer></script>
  <script src="{{ url_for('static', filename='assets/touchswipe/jquery.touch-swipe.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='assets/theme/js/script.js') }}" defer></script>
  <script src="{{ url_for('static', filename='assets/formoid/formoid.min.js') }}" defer></script>