
<section class="counters align-center" id="features05-27" style="margin-top: 50px">
    <div class="media-container-row align-center"  style="opacity: 0.8; background-color: rgb(35, 35, 35);">
        <div class="card align-center">
            <div class="card-box align-center">
                <p class="mbr-text mbr-fonts-style mbr-white mbr-normal align-center display-5" style="margin-bottom: 12px; margin-top: 10px;  color: rgb(250,195,72);"> Total Searches </p>
                <h4 class="count card-title mbr-fonts-style mbr-white mbr-bold align-center display-1" style="margin-bottom: 25px; ">{{ total_searches }}</h4>
            </div>
        </div>
    </div>
</section>


<section class="footer1 cid-qYkT1cVQgj" once="footers" id="footer1-2d" style="padding-top: 5px; padding-bottom: 5px">
    <div class="container">
        <div class="row">
            <div class=" ">
                <div class="navbar-brand">
                    <div class="logo">
                        <span class=" logo" style="padding-left: 0px"><a href="{{ url_for('home') }}" class="logo" style="color:rgb(0,157,250); padding-left: 0px ">Twitter Sentiment</a></span>                    
                    </div>
                </div class="col-lg-4 col-md-12 col-sm-12">
                <!-- <p class="mbr-text mbr-normal links mbr-fonts-style display-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quisquam hic minima officiis                 </p>
 -->            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
              <!--   <h3 class="mbr-text mbr-normal mbr-fonts-style group-title display-5">
                    Contact Us
                </h3>

                <p class="mbr-text mbr-normal links mbr-fonts-style display-4">constac</p>

 -->
                <div class="social-list ">
                    <div class="soc-item">
                        <a href="https://www.linkedin.com/in/vinay-kumar-turpati-8b193415b/" target="_blank" >
                            <i class="fa fa-linkedin-square" style="font-size:40px; color: #0079B3; padding-top: 10px"></i>
                        </a>
                    </div>

                    <div class="soc-item">
                        <a href="https://twitter.com/vinay_turpati" target="_blank" >
                            <i class="fa fa-twitter-square" style="font-size:40px; color: #0079B3; padding-top: 10px"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
