<!DOCTYPE html>
<html >
<head>
	<title>Twitter Sentiment</title>
	{% include "head.html" %}
    <body style="background-color:rgb(255,255,255);">

	<section class="menu cid-qWWXqwQEQ7" once="menu" id="menu1-24" >
        <div class="my-menu" style="background-color:rgb(0,157,250);" >
            <span class=" logo"><a href="{{url_for('home')}}" class="logo" style="padding-left: 0px">Twitter Sentiment</a></span>   
         </div>
     </section>
    <section class=" cid-qYkSYwjd5G" id="header2-25" style=" padding-top: 20px;padding-bottom: 0px">
        {% include "search_box.html" %}
    </section>

    <div class="container site-content">
    <div>
        <h2 class="result-for" style="padding-bottom: 15px">Results for <span style="color: #FFC133;">{{ word }}</span></h3>
    </div>
      <table class="table" align="center">
    <thead>
      <tr>
        <th scope="row" class="inc" style="color: #00B257">Positive</th>
        <th scope="row" class="inc">Neutral</th>
        <th scope="row" class="inc" style="color: #F64700">Negative</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row" class="inc">{{ sentiment['positive'] }}.0%</td>
        <td scope="row" class="inc">{{ sentiment['neutral'] }}.0%</td>
        <td scope="row" class="inc">{{ sentiment['negative'] }}.0%</td>
      </tr>
    </tbody>
  </table>
  <h3 class="result-for myblue rubic" style="padding-bottom: 15px"><b>Tweets</b></h3>
    {% for i in range(length) %}
    <div class="container p-3 my-3 border" style="background-color: {{ tweets['color'][i] }}">
        <div>
            <a href="https://twitter.com/{{ tweets.user[i] }}" target="_blank"><span class="myblue"><b>{{ tweets.user[i]}}</b></span></a>
            <div class="col-lg-4 col-md-12 col-sm-12"></div>
            <span class="mx-auto"> <i>Polarity : {{ tweets['polarity'][i] }}<i></span>
            <span class="float-right" style="font-size: 13px; color: #F64700">{{ tweets.created_at[i]}}</span><br>
        </div>

        <a href="https://twitter.com/{{ tweets.user[i] }}/status/{{ tweets.id[i] }}" style="color: black;" target="_blank">
        {{ tweets.text[i] }}</a>
    </div>
    {% endfor %}

    <div class="pagination" style="padding-top: 35px">
        <nav class="navigation pagination" role="navigation" aria-label="Posts">
            {{ pagination.links }}
        </nav>
    </div>

{% include "footer.html" %}
{% include "bottom_scripts.html" %}
</div>
</body>
</html>